<?xml version='1.1' encoding='UTF-8'?>
<project>
  <description>Test Tower Project</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.0.7"/>
    <com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty plugin="gitlab-plugin@1.5.12">
      <gitLabConnection></gitLabConnection>
    </com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.11.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>{{ tower_job_scm_url }}</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <com.cloudbees.jenkins.GitHubPushTrigger plugin="github@1.29.4">
      <spec></spec>
    </com.cloudbees.jenkins.GitHubPushTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <org.jenkinsci.plugins.ansible__tower.AnsibleTower plugin="ansible-tower@0.9.2">
      <towerServer>Tower</towerServer>
      <jobTemplate>{{ tower_job_template_name | default('') }}</jobTemplate>
      <extraVars>{{ tower_job_template_extra_vars | default('') }}</extraVars>
      <jobTags></jobTags>
      <skipJobTags></skipJobTags>
      <jobType>run</jobType>
      <limit></limit>
      <inventory></inventory>
      <credential></credential>
      <verbose>false</verbose>
      <importTowerLogs>true</importTowerLogs>
      <removeColor>false</removeColor>
      <templateType>job</templateType>
      <importWorkflowChildLogs>false</importWorkflowChildLogs>
    </org.jenkinsci.plugins.ansible__tower.AnsibleTower>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>